<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>
  
  <div class = 'log-in'>
    <h1>NYC Taxi Fare Estimation</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <label for = "pass">
        Number of Passenger
      </label>
      <input type="number" min="1" max="6" name="passenger" id = "pass"> <br>
      <label for = 'datetime'>
        Pickup Date and Time 
      </label>
      <input type="datetime-local" name = 'date' id = 'datetime'> <br>
      <label for="pickup2">Choose your pickup location from the list:</label>
      <input list="pickup" name="pickup" id="pickup2">
        <datalist id="pickup">
		<option value= "Alphabet City"></option>
		<option value= "Annadale"></option>
		<option value= "Bath Beach"></option>
		<option value= "Battery Park"></option>
		<option value= "Battery Park City"></option>
		<option value= "Bay Ridge"></option>
		<option value= "Bay Terrace"></option>
		<option value= "Bayside"></option>
		<option value= "Bellerose"></option>
		<option value= "Bensonhurst East"></option>
		<option value= "Bensonhurst West"></option>
		<option value= "Boerum Hill"></option>
		<option value= "Borough Park"></option>
		<option value= "Brighton Beach"></option>
		<option value= "Broad Channel"></option>
		<option value= "Bronx Park"></option>
		<option value= "Bronx River"></option>
		<option value= "Bronxdale"></option>
		<option value= "Brooklyn Heights"></option>
		<option value= "Brooklyn Navy Yard"></option>
		<option value= "Bushwick North"></option>
		<option value= "Bushwick South"></option>
		<option value= "Cambria Heights"></option>
		<option value= "Canarsie"></option>
		<option value= "Carroll Gardens"></option>
		<option value= "Central Harlem"></option>
		<option value= "Central Harlem North"></option>
		<option value= "Central Park"></option>
		<option value= "Chinatown"></option>
		<option value= "Civic Center"></option>
		<option value= "Clifton"></option>
		<option value= "Clinton Hill"></option>
		<option value= "Co-op City"></option>
		<option value= "Cobble Hill"></option>
		<option value= "Concourse Village"></option>
		<option value= "Coney Island"></option>
		<option value= "Crotona Park"></option>
		<option value= "Crotona Park East"></option>
		<option value= "Crown Heights North"></option>
		<option value= "Crown Heights South"></option>
		<option value= "Cypress Hills"></option>
		<option value= "Ditmas Park"></option>
		<option value= "Dongan Hills"></option>
		<option value= "Downtown Brooklyn"></option>
		<option value= "Dumbo"></option>
		<option value= "Dyker Heights"></option>
		<option value= "East Concourse"></option>
		<option value= "East Elmhurst"></option>
		<option value= "East Flatbush"></option>
		<option value= "East Flushing"></option>
		<option value= "East Harlem North"></option>
		<option value= "East Harlem South"></option>
		<option value= "East New York"></option>
		<option value= "East Village"></option>
		<option value= "Eastchester"></option>
		<option value= "Ellis Island"></option>
		<option value= "Elmhurst"></option>
		<option value= "Eltingville"></option>
		<option value= "Fieldston"></option>
		<option value= "Financial District North"></option>
		<option value= "Financial District South"></option>
		<option value= "Flatbush"></option>
		<option value= "Flatiron"></option>
		<option value= "Flatlands"></option>
		<option value= "Flushing"></option>
		<option value= "Flushing Meadows-corona Park"></option>
		<option value= "Fort Greene"></option>
		<option value= "Fort Wadsworth"></option>
		<option value= "Fresh Meadows"></option>
		<option value= "Garment District"></option>
		<option value= "Governor's Island"></option>
		<option value= "Gowanus"></option>
		<option value= "Gramercy"></option>
		<option value= "Great Kills Park"></option>
		<option value= "Green-wood Cemetery"></option>
		<option value= "Greenpoint"></option>
		<option value= "Greenwich Village North"></option>
		<option value= "Greenwich Village South"></option>
		<option value= "Grymes Hill"></option>
		<option value= "Hamilton Heights"></option>
		<option value= "Heartland Village"></option>
		<option value= "Highbridge Park"></option>
		<option value= "Hudson Sq"></option>
		<option value= "Hudson Yards"></option>
		<option value= "Inwood Hill Park"></option>
		<option value= "Jackson Heights"></option>
		<option value= "Kew Gardens Hills"></option>
		<option value= "Kingsbridge"></option>
		<option value= "Kingsbridge Heights"></option>
		<option value= "Kips Bay"></option>
		<option value= "Laguardia Airport"></option>
		<option value= "Laurelton"></option>
		<option value= "Lenox Hill East"></option>
		<option value= "Lenox Hill West"></option>
		<option value= "Liberty Island"></option>
		<option value= "Lincoln Square East"></option>
		<option value= "Lincoln Square West"></option>
		<option value= "Little Italy"></option>
		<option value= "Long Island City"></option>
		<option value= "Lower East Side"></option>
		<option value= "Manhattan Valley"></option>
		<option value= "Manhattanville"></option>
		<option value= "Marble Hill"></option>
		<option value= "Maspeth"></option>
		<option value= "Meatpacking"></option>
		<option value= "Middle Village"></option>
		<option value= "Midland Beach"></option>
		<option value= "Midtown East"></option>
		<option value= "Midtown South"></option>
		<option value= "Midwood"></option>
		<option value= "Morningside Heights"></option>
		<option value= "Morris Heights"></option>
		<option value= "Morris Park"></option>
		<option value= "Morrisania"></option>
		<option value= "Mott Haven"></option>
		<option value= "Murray Hill-queens"></option>
		<option value= "New Dorp"></option>
		<option value= "Newark Airport"></option>
		<option value= "North Corona"></option>
		<option value= "Oakland Gardens"></option>
		<option value= "Ocean Hill"></option>
		<option value= "Ocean Parkway South"></option>
		<option value= "Olinville"></option>
		<option value= "Ozone Park"></option>
		<option value= "Park Slope"></option>
		<option value= "Parkchester"></option>
		<option value= "Pelham Bay"></option>
		<option value= "Pelham Parkway"></option>
		<option value= "Penn Station"></option>
		<option value= "Pennsylvania Avenue"></option>
		<option value= "Peter Cooper Village"></option>
		<option value= "Pomonok"></option>
		<option value= "Prince's Bay"></option>
		<option value= "Prospect Park"></option>
		<option value= "Prospect-lefferts Gardens"></option>
		<option value= "Queens Plaza"></option>
		<option value= "Queens Village"></option>
		<option value= "Randalls Island"></option>
		<option value= "Red Hook"></option>
		<option value= "Rego Park"></option>
		<option value= "Ridgewood"></option>
		<option value= "Rikers Island"></option>
		<option value= "Rockaway Park"></option>
		<option value= "Roosevelt Island"></option>
		<option value= "Seward Park"></option>
		<option value= "Soundview"></option>
		<option value= "South Ozone Park"></option>
		<option value= "Springfield Gardens North"></option>
		<option value= "Springfield Gardens South"></option>
		<option value= "Spuyten Duyvil"></option>
		<option value= "Starrett City"></option>
		<option value= "Stuy Town"></option>
		<option value= "Times Sq"></option>
		<option value= "Todt Hill"></option>
		<option value= "Tribeca"></option>
		<option value= "Turtle Bay North"></option>
		<option value= "Turtle Bay South"></option>
		<option value= "Two Bridges"></option>
		<option value= "Union Sq"></option>
		<option value= "Upper East Side North"></option>
		<option value= "Upper East Side South"></option>
		<option value= "Upper West Side North"></option>
		<option value= "Upper West Side South"></option>
		<option value= "Van Cortlandt Park"></option>
		<option value= "Van Cortlandt Village"></option>
		<option value= "Van Nest"></option>
		<option value= "Washington Heights North"></option>
		<option value= "West Brighton"></option>
		<option value= "West Village"></option>
		<option value= "West Village West"></option>
		<option value= "Willets Point"></option>
		<option value= "Williamsbridge"></option>
		<option value= "Windsor Terrace"></option>
		<option value= "World Trade Center"></option>
		<option value= "Yorkville East"></option>
		<option value= "Yorkville West"></option>
        </datalist> <br>
      <label for="dropoff2">Choose your dropoff location from the list:</label>
      <input list="dropoff" name="dropoff" id="dropoff2">
        <datalist id="dropoff">
		<option value= "Alphabet City"></option>
		<option value= "Annadale"></option>
		<option value= "Bath Beach"></option>
		<option value= "Battery Park"></option>
		<option value= "Battery Park City"></option>
		<option value= "Bay Ridge"></option>
		<option value= "Bay Terrace"></option>
		<option value= "Bayside"></option>
		<option value= "Bellerose"></option>
		<option value= "Bensonhurst East"></option>
		<option value= "Bensonhurst West"></option>
		<option value= "Boerum Hill"></option>
		<option value= "Borough Park"></option>
		<option value= "Brighton Beach"></option>
		<option value= "Broad Channel"></option>
		<option value= "Bronx Park"></option>
		<option value= "Bronx River"></option>
		<option value= "Bronxdale"></option>
		<option value= "Brooklyn Heights"></option>
		<option value= "Brooklyn Navy Yard"></option>
		<option value= "Bushwick North"></option>
		<option value= "Bushwick South"></option>
		<option value= "Cambria Heights"></option>
		<option value= "Canarsie"></option>
		<option value= "Carroll Gardens"></option>
		<option value= "Central Harlem"></option>
		<option value= "Central Harlem North"></option>
		<option value= "Central Park"></option>
		<option value= "Chinatown"></option>
		<option value= "Civic Center"></option>
		<option value= "Clifton"></option>
		<option value= "Clinton Hill"></option>
		<option value= "Co-op City"></option>
		<option value= "Cobble Hill"></option>
		<option value= "Concourse Village"></option>
		<option value= "Coney Island"></option>
		<option value= "Crotona Park"></option>
		<option value= "Crotona Park East"></option>
		<option value= "Crown Heights North"></option>
		<option value= "Crown Heights South"></option>
		<option value= "Cypress Hills"></option>
		<option value= "Ditmas Park"></option>
		<option value= "Dongan Hills"></option>
		<option value= "Downtown Brooklyn"></option>
		<option value= "Dumbo"></option>
		<option value= "Dyker Heights"></option>
		<option value= "East Concourse"></option>
		<option value= "East Elmhurst"></option>
		<option value= "East Flatbush"></option>
		<option value= "East Flushing"></option>
		<option value= "East Harlem North"></option>
		<option value= "East Harlem South"></option>
		<option value= "East New York"></option>
		<option value= "East Village"></option>
		<option value= "Eastchester"></option>
		<option value= "Ellis Island"></option>
		<option value= "Elmhurst"></option>
		<option value= "Eltingville"></option>
		<option value= "Fieldston"></option>
		<option value= "Financial District North"></option>
		<option value= "Financial District South"></option>
		<option value= "Flatbush"></option>
		<option value= "Flatiron"></option>
		<option value= "Flatlands"></option>
		<option value= "Flushing"></option>
		<option value= "Flushing Meadows-corona Park"></option>
		<option value= "Fort Greene"></option>
		<option value= "Fort Wadsworth"></option>
		<option value= "Fresh Meadows"></option>
		<option value= "Garment District"></option>
		<option value= "Governor's Island"></option>
		<option value= "Gowanus"></option>
		<option value= "Gramercy"></option>
		<option value= "Great Kills Park"></option>
		<option value= "Green-wood Cemetery"></option>
		<option value= "Greenpoint"></option>
		<option value= "Greenwich Village North"></option>
		<option value= "Greenwich Village South"></option>
		<option value= "Grymes Hill"></option>
		<option value= "Hamilton Heights"></option>
		<option value= "Heartland Village"></option>
		<option value= "Highbridge Park"></option>
		<option value= "Hudson Sq"></option>
		<option value= "Hudson Yards"></option>
		<option value= "Inwood Hill Park"></option>
		<option value= "Jackson Heights"></option>
		<option value= "Kew Gardens Hills"></option>
		<option value= "Kingsbridge"></option>
		<option value= "Kingsbridge Heights"></option>
		<option value= "Kips Bay"></option>
		<option value= "Laguardia Airport"></option>
		<option value= "Laurelton"></option>
		<option value= "Lenox Hill East"></option>
		<option value= "Lenox Hill West"></option>
		<option value= "Liberty Island"></option>
		<option value= "Lincoln Square East"></option>
		<option value= "Lincoln Square West"></option>
		<option value= "Little Italy"></option>
		<option value= "Long Island City"></option>
		<option value= "Lower East Side"></option>
		<option value= "Manhattan Valley"></option>
		<option value= "Manhattanville"></option>
		<option value= "Marble Hill"></option>
		<option value= "Maspeth"></option>
		<option value= "Meatpacking"></option>
		<option value= "Middle Village"></option>
		<option value= "Midland Beach"></option>
		<option value= "Midtown East"></option>
		<option value= "Midtown South"></option>
		<option value= "Midwood"></option>
		<option value= "Morningside Heights"></option>
		<option value= "Morris Heights"></option>
		<option value= "Morris Park"></option>
		<option value= "Morrisania"></option>
		<option value= "Mott Haven"></option>
		<option value= "Murray Hill-queens"></option>
		<option value= "New Dorp"></option>
		<option value= "Newark Airport"></option>
		<option value= "North Corona"></option>
		<option value= "Oakland Gardens"></option>
		<option value= "Ocean Hill"></option>
		<option value= "Ocean Parkway South"></option>
		<option value= "Olinville"></option>
		<option value= "Ozone Park"></option>
		<option value= "Park Slope"></option>
		<option value= "Parkchester"></option>
		<option value= "Pelham Bay"></option>
		<option value= "Pelham Parkway"></option>
		<option value= "Penn Station"></option>
		<option value= "Pennsylvania Avenue"></option>
		<option value= "Peter Cooper Village"></option>
		<option value= "Pomonok"></option>
		<option value= "Prince's Bay"></option>
		<option value= "Prospect Park"></option>
		<option value= "Prospect-lefferts Gardens"></option>
		<option value= "Queens Plaza"></option>
		<option value= "Queens Village"></option>
		<option value= "Randalls Island"></option>
		<option value= "Red Hook"></option>
		<option value= "Rego Park"></option>
		<option value= "Ridgewood"></option>
		<option value= "Rikers Island"></option>
		<option value= "Rockaway Park"></option>
		<option value= "Roosevelt Island"></option>
		<option value= "Seward Park"></option>
		<option value= "Soundview"></option>
		<option value= "South Ozone Park"></option>
		<option value= "Springfield Gardens North"></option>
		<option value= "Springfield Gardens South"></option>
		<option value= "Spuyten Duyvil"></option>
		<option value= "Starrett City"></option>
		<option value= "Stuy Town"></option>
		<option value= "Times Sq"></option>
		<option value= "Todt Hill"></option>
		<option value= "Tribeca"></option>
		<option value= "Turtle Bay North"></option>
		<option value= "Turtle Bay South"></option>
		<option value= "Two Bridges"></option>
		<option value= "Union Sq"></option>
		<option value= "Upper East Side North"></option>
		<option value= "Upper East Side South"></option>
		<option value= "Upper West Side North"></option>
		<option value= "Upper West Side South"></option>
		<option value= "Van Cortlandt Park"></option>
		<option value= "Van Cortlandt Village"></option>
		<option value= "Van Nest"></option>
		<option value= "Washington Heights North"></option>
		<option value= "West Brighton"></option>
		<option value= "West Village"></option>
		<option value= "West Village West"></option>
		<option value= "Willets Point"></option>
		<option value= "Williamsbridge"></option>
		<option value= "Windsor Terrace"></option>
		<option value= "World Trade Center"></option>
		<option value= "Yorkville East"></option>
		<option value= "Yorkville West"></option>
		
        </datalist><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      
   </form>
   <br>
   <br>
   {{ prediction_text }}
  </div>  
</body>
