<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>
  
  <div class = 'log-in'>
    <h1>NYC Taxi Fare Estimation</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <label for = "pass">
        Number of Passenger
      </label>
      <input type="number" min="1" max="6" name="passenger" id = "pass"> <br>
      <label for = 'datetime'>
        Pickup Date and Time 
      </label>
      <input type="datetime-local" name = 'date' id = 'datetime'> <br>
      <label for="pickup2">Choose your pickup location from the list:</label>
      <input list="pickup" name="pickup" id="pickup2">
        <datalist id="pickup">
          <option value= "Newark Airport">
          <option value= "Allerton">
          <option value= "Pelham Gardens">
          <option value= "Alphabet City">
          <option value= "Arden Heights">
          <option value= "Arrochar">
          <option value= "Astoria">
          <option value= "Astoria Park">
          <option value= "Auburndale">
          <option value= "Bloomingdale">
          <option value= "Baisley Park">
          <option value= "Bath Beach">
          <option value= "Battery Park">
          <option value= "Battery Park City">
          <option value= "Bedford Park">
          <option value= "Boerum Hill">
          <option value= "Bay Ridge">
          <option value= "Bay Terrace">
          <option value= "Fort Totten">
          <option value= "Bensonhurst West">
          <option value= "Bayside">
          <option value= "Bedford">
          <option value= "Bellerose">
          <option value= "Belmont">
          <option value= "Bensonhurst East">
          <option value= "Borough Park">
          <option value= "Briarwood">
          <option value= "Jamaica Hills">
          <option value= "Brooklyn Heights">
          <option value= "Brighton Beach">
          <option value= "Bronx Park">
          <option value= "Bronxdale">
          <option value= "Broad Channel">
          <option value= "Brooklyn Navy Yard">
          <option value= "Brownsville">
          <option value= "Bushwick North">
          <option value= "Bushwick South">
          <option value= "Cambria Heights">
          <option value= "Canarsie">
          <option value= "Carroll Gardens">
          <option value= "Central Harlem">
          <option value= "Chinatown">
          <option value= "Central Harlem North">
          <option value= "Central Park">
          <option value= "Claremont">
          <option value= "Bathgate">
          <option value= "Clinton East">
          <option value= "Clinton Hill">
          <option value= "Clinton West">
          <option value= "Co-op City">
          <option value= "Cobble Hill">
          <option value= "Columbia Street">
          <option value= "Coney Island">
          <option value= "Corona">
          <option value= "Crotona Park">
          <option value= "Crotona Park East">
          <option value= "Crown Heights North">
          <option value= "Crown Heights South">
          <option value= "Cypress Hills">
          <option value= "Downtown Brooklyn">
          <option value= "East Flatbush">
          <option value= "Dumbo">
          <option value= "Dyker Heights">
          <option value= "East Chelsea">
          <option value= "East Flushing">
          <option value= "East Concourse">
          <option value= "East Elmhurst">
          <option value= "East Village">
          <option value= "East Williamsburg">
          <option value= "East Harlem North">
          <option value= "Erasmus">
          <option value= "East Harlem South">
          <option value= "East New York">
          <option value= "East Tremont">
          <option value= "Eastchester">
          <option value= "Financial District North">
          <option value= "Elmhurst">
          <option value= "Eltingville">
          <option value= "Financial District South">
          <option value= "Flatbush">
          <option value= "Flatiron">
          <option value= "Hudson Sq">
          <option value= "Flatlands">
          <option value= "Flushing">
          <option value= "Flushing Meadows-corona Park">
          <option value= "Fordham South">
          <option value= "Forest Hills">
          <option value= "Forest Park">
          <option value= "Fort Greene">
          <option value= "Fresh Meadows">
          <option value= "Garment District">
          <option value= "Glen Oaks">
          <option value= "Glendale">
          <option value= "Governor's Island">
          <option value= "Gowanus">
          <option value= "Gramercy">
          <option value= "Gravesend">
          <option value= "Great Kills Park">
          <option value= "Green-wood Cemetery">
          <option value= "Greenpoint">
          <option value= "Greenwich Village North">
          <option value= "Greenwich Village South">
          <option value= "Grymes Hill">
          <option value= "Hamilton Heights">
          <option value= "Heartland Village">
          <option value= "Highbridge">
          <option value= "Highbridge Park">
          <option value= "Madison">
          <option value= "Manhattan Beach">
          <option value= "Hillcrest">
          <option value= "Hollis">
          <option value= "Homecrest">
          <option value= "Hunts Point">
          <option value= "Inwood Hill Park">
          <option value= "Jackson Heights">
          <option value= "Kew Gardens">
          <option value= "Manhattan Valley">
          <option value= "Jamaica">
          <option value= "Laurelton">
          <option value= "Jamaica Estates">
          <option value= "Kensington">
          <option value= "Lenox Hill East">
          <option value= "Kew Gardens Hills">
          <option value= "Kingsbridge Heights">
          <option value= "Kips Bay">
          <option value= "Lenox Hill West">
          <option value= "Lincoln Square East">
          <option value= "Manhattanville">
          <option value= "Laguardia Airport">
          <option value= "Lincoln Square West">
          <option value= "Little Italy">
          <option value= "Long Island City">
          <option value= "Longwood">
          <option value= "Lower East Side">
          <option value= "Marble Hill">
          <option value= "Melrose South">
          <option value= "Maspeth">
          <option value= "Meatpacking">
          <option value= "Middle Village">
          <option value= "Midtown Center">
          <option value= "Midtown East">
          <option value= "Midtown North">
          <option value= "Midtown South">
          <option value= "Murray Hill">
          <option value= "Midwood">
          <option value= "Morningside Heights">
          <option value= "Morrisania">
          <option value= "Ocean Parkway South">
          <option value= "Mott Haven">
          <option value= "Mount Hope">
          <option value= "Murray Hill-queens">
          <option value= "New Dorp">
          <option value= "North Corona">
          <option value= "Norwood">
          <option value= "Oakland Gardens">
          <option value= "Old Astoria">
          <option value= "Oakwood">
          <option value= "Ocean Hill">
          <option value= "Ozone Park">
          <option value= "Park Slope">
          <option value= "Parkchester">
          <option value= "Pelham Bay">
          <option value= "Pelham Parkway">
          <option value= "Penn Station">
          <option value= "Prospect Heights">
          <option value= "Prospect Park">
          <option value= "Port Richmond">
          <option value= "Prospect-lefferts Gardens">
          <option value= "Queens Village">
          <option value= "Queensboro Hill">
          <option value= "Queensbridge">
          <option value= "Randalls Island">
          <option value= "Rego Park">
          <option value= "Red Hook">
          <option value= "Richmond Hill">
          <option value= "Ridgewood">
          <option value= "Rikers Island">
          <option value= "Soundview">
          <option value= "Riverdale">
          <option value= "Rossville">
          <option value= "Rockaway Park">
          <option value= "Roosevelt Island">
          <option value= "Saint Albans">
          <option value= "Saint George">
          <option value= "Saint Michaels Cemetery">
          <option value= "Seaport">
          <option value= "Soho">
          <option value= "South Beach">
          <option value= "South Jamaica">
          <option value= "South Ozone Park">
          <option value= "South Williamsburg">
          <option value= "Springfield Gardens North">
          <option value= "Springfield Gardens South">
          <option value= "Stuyvesant Heights">
          <option value= "Spuyten Duyvil">
          <option value= "Stuy Town">
          <option value= "Stapleton">
          <option value= "Starrett City">
          <option value= "Sunset Park East">
          <option value= "Sunset Park West">
          <option value= "Sutton Place">
          <option value= "Times Sq">
          <option value= "Tribeca">
          <option value= "Upper West Side South">
          <option value= "Two Bridges">
          <option value= "Un">
          <option value= "Union Sq">
          <option value= "University Heights">
          <option value= "Upper East Side North">
          <option value= "Upper East Side South">
          <option value= "Upper West Side North">
          <option value= "Van Cortlandt Park">
          <option value= "Van Cortlandt Village">
          <option value= "Woodhaven">
          <option value= "Van Nest">
          <option value= "West Brighton">
          <option value= "Yorkville West">
          <option value= "Washington Heights North">
          <option value= "Washington Heights South">
          <option value= "Willets Point">
          <option value= "West Chelsea">
          <option value= "West Concourse">
          <option value= "West Farms">
          <option value= "West Village">
          <option value= "Windsor Terrace">
          <option value= "Westchester Village">
          <option value= "Westerleigh">
          <option value= "Williamsbridge">
          <option value= "Williamsburg">
          <option value= "Woodlawn">
          <option value= "Woodside">
          <option value= "World Trade Center">
          <option value= "Yorkville East">
          <option value= "Fort Wadsworth">
          <option value= "Metrotech">
          <option value= "Remsen Village">
          <option value= "Vinegar Hill">
          <option value= "Concourse Village">
          <option value= "Farragut">
          <option value= "Pennsylvania Avenue">
          <option value= "Annadale">
          <option value= "Ditmas Park">
          <option value= "Highland Park">
          <option value= "Ellis Island">
          <option value= "Clifton">
          <option value= "Todt Hill">
          <option value= "Pomonok">
          <option value= "Nolita">
          <option value= "Hunters Point">
          <option value= "Queens Plaza">
          <option value= "West Village West">
          <option value= "Melrose">
          <option value= "Port Morris">
          <option value= "Midland Beach">
          <option value= "Madison Sq West">
          <option value= "Ravenswood">
          <option value= "Bruckner">
          <option value= "Castle Hill">
          <option value= "North Riverdale">
          <option value= "Woodrow">
          <option value= "New Brighton">
          <option value= "Dongan Hills">
          <option value= "Kingsbridge">
          <option value= "Peter Cooper Village">
          <option value= "Turtle Bay North">
          <option value= "Theatre District">
          <option value= "Civic Center">
          <option value= "Seward Park">
          <option value= "Turtle Bay South">
          <option value= "Morris Heights">
          <option value= "Morris Park">
          <option value= "Hudson Yards">
          <option value= "Bronx River">
          <option value= "Unionport">
          <option value= "Olinville">
          <option value= "Wakefield">
          <option value= "Prince's Bay">
          <option value= "Liberty Island">
          <option value= "Fieldston">
        </datalist> <br>
      <label for="dropoff2">Choose your dropoff location from the list:</label>
      <input list="dropoff" name="dropoff" id="dropoff2">
        <datalist id="dropoff">
          <option value= "Newark Airport">
          <option value= "Allerton">
          <option value= "Pelham Gardens">
          <option value= "Alphabet City">
          <option value= "Arden Heights">
          <option value= "Arrochar">
          <option value= "Astoria">
          <option value= "Astoria Park">
          <option value= "Auburndale">
          <option value= "Bloomingdale">
          <option value= "Baisley Park">
          <option value= "Bath Beach">
          <option value= "Battery Park">
          <option value= "Battery Park City">
          <option value= "Bedford Park">
          <option value= "Boerum Hill">
          <option value= "Bay Ridge">
          <option value= "Bay Terrace">
          <option value= "Fort Totten">
          <option value= "Bensonhurst West">
          <option value= "Bayside">
          <option value= "Bedford">
          <option value= "Bellerose">
          <option value= "Belmont">
          <option value= "Bensonhurst East">
          <option value= "Borough Park">
          <option value= "Briarwood">
          <option value= "Jamaica Hills">
          <option value= "Brooklyn Heights">
          <option value= "Brighton Beach">
          <option value= "Bronx Park">
          <option value= "Bronxdale">
          <option value= "Broad Channel">
          <option value= "Brooklyn Navy Yard">
          <option value= "Brownsville">
          <option value= "Bushwick North">
          <option value= "Bushwick South">
          <option value= "Cambria Heights">
          <option value= "Canarsie">
          <option value= "Carroll Gardens">
          <option value= "Central Harlem">
          <option value= "Chinatown">
          <option value= "Central Harlem North">
          <option value= "Central Park">
          <option value= "Claremont">
          <option value= "Bathgate">
          <option value= "Clinton East">
          <option value= "Clinton Hill">
          <option value= "Clinton West">
          <option value= "Co-op City">
          <option value= "Cobble Hill">
          <option value= "Columbia Street">
          <option value= "Coney Island">
          <option value= "Corona">
          <option value= "Crotona Park">
          <option value= "Crotona Park East">
          <option value= "Crown Heights North">
          <option value= "Crown Heights South">
          <option value= "Cypress Hills">
          <option value= "Downtown Brooklyn">
          <option value= "East Flatbush">
          <option value= "Dumbo">
          <option value= "Dyker Heights">
          <option value= "East Chelsea">
          <option value= "East Flushing">
          <option value= "East Concourse">
          <option value= "East Elmhurst">
          <option value= "East Village">
          <option value= "East Williamsburg">
          <option value= "East Harlem North">
          <option value= "Erasmus">
          <option value= "East Harlem South">
          <option value= "East New York">
          <option value= "East Tremont">
          <option value= "Eastchester">
          <option value= "Financial District North">
          <option value= "Elmhurst">
          <option value= "Eltingville">
          <option value= "Financial District South">
          <option value= "Flatbush">
          <option value= "Flatiron">
          <option value= "Hudson Sq">
          <option value= "Flatlands">
          <option value= "Flushing">
          <option value= "Flushing Meadows-corona Park">
          <option value= "Fordham South">
          <option value= "Forest Hills">
          <option value= "Forest Park">
          <option value= "Fort Greene">
          <option value= "Fresh Meadows">
          <option value= "Garment District">
          <option value= "Glen Oaks">
          <option value= "Glendale">
          <option value= "Governor's Island">
          <option value= "Gowanus">
          <option value= "Gramercy">
          <option value= "Gravesend">
          <option value= "Great Kills Park">
          <option value= "Green-wood Cemetery">
          <option value= "Greenpoint">
          <option value= "Greenwich Village North">
          <option value= "Greenwich Village South">
          <option value= "Grymes Hill">
          <option value= "Hamilton Heights">
          <option value= "Heartland Village">
          <option value= "Highbridge">
          <option value= "Highbridge Park">
          <option value= "Madison">
          <option value= "Manhattan Beach">
          <option value= "Hillcrest">
          <option value= "Hollis">
          <option value= "Homecrest">
          <option value= "Hunts Point">
          <option value= "Inwood Hill Park">
          <option value= "Jackson Heights">
          <option value= "Kew Gardens">
          <option value= "Manhattan Valley">
          <option value= "Jamaica">
          <option value= "Laurelton">
          <option value= "Jamaica Estates">
          <option value= "Kensington">
          <option value= "Lenox Hill East">
          <option value= "Kew Gardens Hills">
          <option value= "Kingsbridge Heights">
          <option value= "Kips Bay">
          <option value= "Lenox Hill West">
          <option value= "Lincoln Square East">
          <option value= "Manhattanville">
          <option value= "Laguardia Airport">
          <option value= "Lincoln Square West">
          <option value= "Little Italy">
          <option value= "Long Island City">
          <option value= "Longwood">
          <option value= "Lower East Side">
          <option value= "Marble Hill">
          <option value= "Melrose South">
          <option value= "Maspeth">
          <option value= "Meatpacking">
          <option value= "Middle Village">
          <option value= "Midtown Center">
          <option value= "Midtown East">
          <option value= "Midtown North">
          <option value= "Midtown South">
          <option value= "Murray Hill">
          <option value= "Midwood">
          <option value= "Morningside Heights">
          <option value= "Morrisania">
          <option value= "Ocean Parkway South">
          <option value= "Mott Haven">
          <option value= "Mount Hope">
          <option value= "Murray Hill-queens">
          <option value= "New Dorp">
          <option value= "North Corona">
          <option value= "Norwood">
          <option value= "Oakland Gardens">
          <option value= "Old Astoria">
          <option value= "Oakwood">
          <option value= "Ocean Hill">
          <option value= "Ozone Park">
          <option value= "Park Slope">
          <option value= "Parkchester">
          <option value= "Pelham Bay">
          <option value= "Pelham Parkway">
          <option value= "Penn Station">
          <option value= "Prospect Heights">
          <option value= "Prospect Park">
          <option value= "Port Richmond">
          <option value= "Prospect-lefferts Gardens">
          <option value= "Queens Village">
          <option value= "Queensboro Hill">
          <option value= "Queensbridge">
          <option value= "Randalls Island">
          <option value= "Rego Park">
          <option value= "Red Hook">
          <option value= "Richmond Hill">
          <option value= "Ridgewood">
          <option value= "Rikers Island">
          <option value= "Soundview">
          <option value= "Riverdale">
          <option value= "Rossville">
          <option value= "Rockaway Park">
          <option value= "Roosevelt Island">
          <option value= "Saint Albans">
          <option value= "Saint George">
          <option value= "Saint Michaels Cemetery">
          <option value= "Seaport">
          <option value= "Soho">
          <option value= "South Beach">
          <option value= "South Jamaica">
          <option value= "South Ozone Park">
          <option value= "South Williamsburg">
          <option value= "Springfield Gardens North">
          <option value= "Springfield Gardens South">
          <option value= "Stuyvesant Heights">
          <option value= "Spuyten Duyvil">
          <option value= "Stuy Town">
          <option value= "Stapleton">
          <option value= "Starrett City">
          <option value= "Sunset Park East">
          <option value= "Sunset Park West">
          <option value= "Sutton Place">
          <option value= "Times Sq">
          <option value= "Tribeca">
          <option value= "Upper West Side South">
          <option value= "Two Bridges">
          <option value= "Un">
          <option value= "Union Sq">
          <option value= "University Heights">
          <option value= "Upper East Side North">
          <option value= "Upper East Side South">
          <option value= "Upper West Side North">
          <option value= "Van Cortlandt Park">
          <option value= "Van Cortlandt Village">
          <option value= "Woodhaven">
          <option value= "Van Nest">
          <option value= "West Brighton">
          <option value= "Yorkville West">
          <option value= "Washington Heights North">
          <option value= "Washington Heights South">
          <option value= "Willets Point">
          <option value= "West Chelsea">
          <option value= "West Concourse">
          <option value= "West Farms">
          <option value= "West Village">
          <option value= "Windsor Terrace">
          <option value= "Westchester Village">
          <option value= "Westerleigh">
          <option value= "Williamsbridge">
          <option value= "Williamsburg">
          <option value= "Woodlawn">
          <option value= "Woodside">
          <option value= "World Trade Center">
          <option value= "Yorkville East">
          <option value= "Fort Wadsworth">
          <option value= "Metrotech">
          <option value= "Remsen Village">
          <option value= "Vinegar Hill">
          <option value= "Concourse Village">
          <option value= "Farragut">
          <option value= "Pennsylvania Avenue">
          <option value= "Annadale">
          <option value= "Ditmas Park">
          <option value= "Highland Park">
          <option value= "Ellis Island">
          <option value= "Clifton">
          <option value= "Todt Hill">
          <option value= "Pomonok">
          <option value= "Nolita">
          <option value= "Hunters Point">
          <option value= "Queens Plaza">
          <option value= "West Village West">
          <option value= "Melrose">
          <option value= "Port Morris">
          <option value= "Midland Beach">
          <option value= "Madison Sq West">
          <option value= "Ravenswood">
          <option value= "Bruckner">
          <option value= "Castle Hill">
          <option value= "North Riverdale">
          <option value= "Woodrow">
          <option value= "New Brighton">
          <option value= "Dongan Hills">
          <option value= "Kingsbridge">
          <option value= "Peter Cooper Village">
          <option value= "Turtle Bay North">
          <option value= "Theatre District">
          <option value= "Civic Center">
          <option value= "Seward Park">
          <option value= "Turtle Bay South">
          <option value= "Morris Heights">
          <option value= "Morris Park">
          <option value= "Hudson Yards">
          <option value= "Bronx River">
          <option value= "Unionport">
          <option value= "Olinville">
          <option value= "Wakefield">
          <option value= "Prince's Bay">
          <option value= "Liberty Island">
          <option value= "Fieldston">
        </datalist><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      
   </form>
   <br>
   <br>
   {{ prediction_text }}
  </div>  
</body>